body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #4D4D4D
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-mobile {
    display: none;
}

.kebab-menu-img{
    max-width: 28px;
    max-height: 28px;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.mobile-tabs {
    display: none;
}

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-section {
    display: flex;
}

.product-image-wrapper img {
    object-fit: contain;
    width: 60vw;
}

.product-details-wrapper {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 24px;
    background-color: #F6F6F5;
}

.organic-elements-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
}

.organic-wrapper {
    display: flex;
    flex-direction: row;
}
.organic-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    color: #948282;
    font-size: 14px;
}

.organic-icon {
    max-width: 48px;
    max-height: 48px;
}

.counter-and-button-wrapper {
    display: flex;
    justify-content: space-between;
    height: 48px;
    gap: 16px;
    margin-top: 24px;
}

.counter-element{
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 16px;
}

.button-transparent{
    border: none;
    background-color: transparent;
}

.add-to-cart-button{
    min-width: 238px;
    max-width: 271px;
    font-size: 18px;
    text-transform: uppercase;
    color: #4D4D4D;
    background-color: #BFABAB;
    border: none;
}

.add-to-cart-button:hover {
    background-color: #BFBBBB;
}

.add-to-cart-button:active {
    transform: translateY(1px);
    border: 2px solid gray;
    box-shadow: 0 0 10px #4D4D4D;
}

.ingredients-elements-wrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 8%;
}

.ingredient-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredients-header-button {
    max-height: 32px;
}

.ingredient-title {
    font-size: 20px;
    color: #4D4D4D;
}

.carousel-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.carousel-title {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    text-align: center;
}

#carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 83vw;
    align-items: center;
    gap: 16px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#carousel::-webkit-scrollbar {
    display: none;
}

.carousel-arrow{
    color: #4D4D4D;
    cursor: pointer;
    max-width: 32px;
}

.suggested-product-wrapper{
    display: flex;
    flex-direction: column;
    animation-name: slider;
}

.hide-element {
    display: none;
}

.product-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: normal;
    color: #4D4D4D;
}

.product-description {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: lighter;
    color: #4D4D4D;
}

.product-text {
    color: #4D4D4D;
    margin: 0;
}

.line {
    color: #9F938B;
    width: 100%;
}

.text {
    color: #4D4D4D;
}

.slide-text{
    font-weight: 400;
}

.font-16{
    font-size: 16px;
}

/*Mobile*/
@media only screen and (max-width: 600px) {

    .header{
        display: none;
    }

    .tabs{
        display: none;
    }

    .product-section {
        flex-wrap: wrap;
    }

    .product-image-wrapper img{
        width: 100vw;
    }

    .product-details-wrapper{
        width: 100vw;
    }

    .ingredients-elements-wrapper{
        width: 100vw;
    }

    .ingredient-element{
        width: 100vw;
    }

    .ingredient-header {
        width: 100%;
    }

    .carousel-arrow {
        display: none;
    }

    .counter-and-button-wrapper{
        margin-top: 0;
    }

    .header-mobile{
        display: flex;
        justify-content: space-between;
    }

    .mobile-tabs{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        background-color: #F6F6F5;
        height: 32px;
    }
}